@font-face {
  font-family: 'iconfont';  /* project id 561408 */
  src: url('https://at.alicdn.com/t/font_561408_eu6lmgmne9hk6gvi.eot');
  src: url('https://at.alicdn.com/t/font_561408_eu6lmgmne9hk6gvi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_561408_eu6lmgmne9hk6gvi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_561408_eu6lmgmne9hk6gvi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_561408_eu6lmgmne9hk6gvi.svg#iconfont') format('svg');
}
.head_daohang_box:hover .head_title
{
	color: #2b6c8c;
}
.head_daohang_box:hover
{
	z-index: 1;
	cursor: pointer;
	
}
.head_daohang_box
{
	width: 88px;
	height: auto;
	float: left;
	margin-right: 10px;
	position: relative;
}
header
{
	width: 100%;
	height: 80px;
	background-color: #fafafa;
	position: relative;
}
.head
{
	width: 1200px;
	height: 80px;
	/* background-color: red; */
	margin: 0 auto;
}
.headtu1
{
	width: 67px;
	height: 80px;
	float: left;
}
.head_box1
{
	width: 44px;
	height: 80px;
	/* background-color: green; */
	float: left;
	font-family: '微软雅黑';
	font-size: 20px;
	padding-top: 18px;
}
.head_box2
{
	
	height: 52px;
	/* background-color:green; */
	padding-top: 24px;
	margin-left: 395px;
	font-size: 14px;
	line-height: 28px;
	position: relative;
}
.head_top_icon
{
	width: 8px;
	height: 8px;
	float: left;
	position: absolute;
	z-index: -1;
}
.head_title
{
	color: #000;
	margin: 0 8px;
	float: left;

}
.head_bottom_icon
{
	width: 8px;
	height: 8px;
	float: left;
	margin-top: 20px;
	position: absolute;
	z-index: -1;
	left: 65px;
	
}
.head_title2
{
	margin-right: 40px;
	float: left;
}
.search
{
	width: 170px;
	height: 24px;
	border: 1px solid #bfbfbf;
	margin-right: 40px;
	border-radius: 20px;
	
}
.search_icon
{
	position: absolute;
	top: 25px;
	right: 48px;
	color: #4d4d4d;
	font-size: 12px;
	font-family: 'iconfont';
}
.banner
{
	width: 100%;
	height: 248px;
	background-color: #bdccd4;
	position: relative;
}
.banner_title1
{
	position: absolute;
	top: 79px;
	left: 34.5%;
	font-size: 44px;
	color: #fff;
	z-index: 1;
	letter-spacing: 6px;
}
.banner_title2
{
	font-size: 38px;
	color:#fff;
	position: absolute;
	top: 153px;
	left: 44.3%;
	z-index: 3;
	font-family: '微软雅黑';
}
.banner_youdeng
{
	width: 104px;
	height: 233px;
	position: absolute;
	top: 35px;
	left: 46%;
	z-index: 2;
}
.banner_line_tu
{
	position: absolute;
	width: 1200px;
	height: 70px;
	background-color: #2b6c8c;
	top: 293px;
	left: 5%;
	margin: auto;
	z-index: 5;
}
.banner_line_tu_left
{
	width: 354px;
	height: 70px;
	background-color: #0b0b0d;
	float: left;
	border-right: 5px solid #f5c813;
	padding: 17px 0 18px 30px;
}
.banner_line_tu_left1
{
	/* width: 56px; */
	height: 35px;
	/* background-color: red; */
	float: left;

}
.banner_line_tu_left1_line
{
	width: 4px;
	height: 100%;
	background-color: #fff;
	float: left;
	border-radius: 5px;
}
.banner_line_tu_left1_line_title1
{
	font-size: 15px;
	color: #fff;
	float: right;
	margin-top: 0px;
	float: left;
	font-family: '微软雅黑';
}
.banner_line_tu_left1_line_title2
{
	font-size: 13px;
	color: #fff;
}
.banner_line_tu_left1_line2
{
	/* width: 48px; */
	height: 100%;
	float: left;
	margin-left: 4px;
}
.banner_line_tu_left2
{
	width: 75px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: #fff;
	font-size: 4px;
	font-family: 'iconfont';
	float: left;
}
.shafa
{
	position: absolute;
	width: 265px;
	height: 262px;
	top: 202px;
	right: 83px;
	z-index: 10;
}
.yellow_box
{
	position: absolute;
	width: 139px;
	height: 139px;
	top: 338px;
	right: 226px;
	z-index: 11;
	background-color: rgba(255, 234, 5, 0.8);
	border-radius: 15px;
}
.anli_content
{
	width: 1200px;
	height: 1078px;
	margin: 0 auto;
	/* background-color: red; */
	padding-top: 63px;
	padding-left: 100px;
	padding-right: 87px;
	position: relative;
}
.anli_content_title
{
	width: 1014px;
	height: 126px;
	/* background-color: green; */
}
.anli_content_title_box1
{
	width: 279px;
	height: 54px;
	border: 1px solid #b4b4b4;
	margin: 0 auto;
}
.anli_content_title_box2
{
	width: 257px;
	height: 52px;
	margin: 0 auto;
	background-color: #fff;
	margin-top: -1px;
	overflow: hidden;
	font-size: 18px;
	color: #184f6b;
	text-align: center;
	line-height: 45px;
}
.anli_content_title_box2_line1
{
	width: 88px;
	height: 3px;
	background-color: #bbbbbb;
	margin-top: 1px;
	margin-left: 24px;
	float: left;
	
}
.anli_content_title_box2_line2
{
	width: 88px;
	height: 1px;
	background-color: #000;
	margin-top: 1px;
}
.anli_content_title_box2_xbox
{
	width: 6px;
	height: 6px;
	background-color: #184f6b;
	margin-left: 9px;
	margin-top:1px;
	transform: rotate(45deg);
	float: left;

}
.anli_content_title_box2_line3
{
	margin-left: 9px;
	float: left;
	float: left;
}
.anli_content_title_box3
{
	width: 278px;
	height: 37px;
	font-size: 21px;
	font-family: '微软雅黑';
	text-align: center;
	line-height: 37px;
	letter-spacing: 10px;
	margin: 0 auto;
}
.anli_content_title_box4
{
	width: 278px;
	height: 4px;
	margin: 0 auto;
	overflow: hidden;
}
.anli_content_title_box4_line1
{
	width: 36px;
	height: 1px;
	background-color: #888888;
	margin-top: 1px;
	margin-left: 98px;
	float: left;
}
.anli_content_title_box4_line2
{
	width: 5px;
	height: 5px;
	float: left;
	margin-left: 4px;
	background-color: #184f6b;
	border-radius: 50%;
}
.anli_content_title_box4_line3
{
	margin-left: 4px;
}
.anli_content_neirong1
{
	width: 472px;
	height: 447px;
	/* background-color: yellow; */
	position: relative;
	float: left;
}
.anli_content_neirong1_1
{
	width: 472px;
	height: 447px;
	border: 2px solid #e4e4e4;
}
.jiaju1_tu
{
	width: 468px;
	height: 342px;
}
.anli_content_neirong1_2
{
	width: 468px;
	height: 101px;
	padding-top: 12px;
	padding-left: 116px;
	overflow: hidden;
}
.anli_content_neirong1_2_title1
{
	font-size: 13px;
	color: #8c8c8c;
	display:inline-block;
	
}
.anli_content_neirong1_2_title2
{
	font-size: 12px;
	color: #2b6c8c;
	display:inline-block;
	margin-left: 16px;
}
/* .anli_content_neirong1_2_title1
{
	width: 321px;
	height: 1px;
	background-color: #dcdcdc;
} */
.anli_content_neirong1_3
{
	width: 321px;
	height: 1px;
	background-color: #dcdcdc;
	margin-top: 9px;
}
.anli_content_neirong1_4
{
	width: 93px;
	height: 1px;
	/* background-color: #000; */
}
.anli_content_neirong1_4
{
	width: 331px;
	height: 44px;
	/* background-color: red; */
	padding-top: 11px;
}
.anli_content_neirong1_4 p
{
	font-size: 12px;
	width: 281px;
	height: 33px;
	float: left;
}
.anli_content_neirong1_5
{
	width: 32px;
	height: 30px;
	border: 1px solid #dcdcdc;
	float: right;
	font-family: 'iconfont';
	color: #a3a3a3;
	font-size: 9px;
	text-align: center;
	line-height: 30px;
}
.anli_content_neirong1_1_tou
{
	width: 81px;
	height: 81px;
	position: absolute;
	top: 299px;
	left: 28px;
	border-radius: 50%;
	background-color: #fff;
	border: 4px solid #fff;
	background-clip: border-box;
	background-image: url('../img/people.png');
	box-shadow: 0 6px 11px 0px #9ab9c8;
}
.anli_content_neirong2
{
	width: 232px;
	height: 345px;
	/* background-color: green; */
	float: left;
	margin-left: 36px;
	position: relative;
}
.anli_content_neirong2_1
{
	width: 232px;
	height: 345px;
	border: 2px solid #e4e4e4;
}
.anli_content_neirong2_1_tu
{
	width: 228px;
	height: 229px;
}
.anli_content_neirong2_2
{
	width: 228px;
	height: 112px;
	padding: 14px 15px 0;
}
.anli_content_neirong2_2_zi
{
	font-size: 10px;
	color: #2b6c8c;
	float: right;
}
.anli_content_neirong2_2_line
{
	width: 100%;
	height: 1px;
	background-color: #d9dada;
	float: left;
	margin-top: 25px;
}
.anli_content_neirong2_2_zi2
{
	font-size: 12px;
	color: #808080;
	float: left;
	margin-top: 13px;
}
.anli_content_neirong2_tou
{
	top: 190px;
}
.anli_content_neirong3
{
	margin-left: 36px;
}
.anli_content_neirong4
{
	position: absolute;
	top: 670px;
	left: 65px;
}
.anli_content_neirong5
{
	position: absolute;
	top: 670px;
	left: 323px;
}
.anli_content_neirong6
{
	position: absolute;
	top: 600px;
	left: 640px;
}
.tong_tu
{
	width: 100%;
	height: 363px;
	background: rgba(43, 108, 140,1);
	position: relative;
}
.da_tu
{
	width: 50%;
	height: 100%;
	background-image: url('../img/datu.png');
	background-size: cover;
	float: left;
}
.da_tou
{
	width: 50%;
	height: 100%;
	/* background-color: red; */
	float: left;
}
.tou1
{
	width: 360px;
	height: 268px;
	margin: 55px 0 0 44px;
	float: left;
}
.tou1_title1
{
	font-size: 13px;
	color: #fff;
}
.tou1_title2
{
	font-size: 28px;
	color: #fff;
	margin-top: 11px;
}
.tou1_title3
{
	font-size: 19px;
	color: #fff;
	margin-top: 11px;
	
}
.tou1_title4
{
	font-size: 10px;
	color: #4e4831;
	margin-top: 100px;
}
.tou1_tu
{
	width: 259px;
	height: 334px;
	float: left;
	top: 30px;
	right: 0;
	position: absolute;
}
.blue_tu
{
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 363px;
	background: rgba(43, 108, 140,0.9);
}
.succes_anli
{
	width: 1200px;
	height: 1378px;
	margin: 0 auto;
	/* background-color: red; */
	padding: 63px 108px 0 100px;
}
.succes_anli_nav
{
	width: 987px;
	height: 106px;
	padding-top: 32px;
	padding-left: 250px
}
.succes_anli_nav_wenzi
{
	width: 71px;
	height: 28px;
	margin-left: 35px;
	/* background-color: green; */
	float: left;
	position: relative;
}
.succes_anli_nav_wenzi p
{
	font-size: 13px;
	float: left;
	margin-left: 4px;
	color: #000;
}
.succes_anli_nav_li
{
	width: 63px;
	height: 4px;
	background-color: #e5e5e5;
	margin-top: 8px;
	float: left;
	position: absolute;
	z-index: -1;
	top: 12px;
}
.succes_anli_nav_li2
{
	width: 12px;
	height: 4px;
	background-color: #50849e;
	position: absolute;
	z-index: -1;
}
.succes_anli_nav_wenzi:hover .succes_anli_nav_li
{
	z-index: 1;
	
}
.succes_anli_tu1
{
	width: 316px;
	height: 311px;
	float: left;
	border: 1px solid #e4e4e4;
	/* background-color: yellow; */
	margin: 0 19px 24px 0;
}
.succes_anli_tu1_1
{
	width: 314px;
	height: 163px;
	float: left;
}
.succes_anli_tu1_2
{
	width: 315px;
	height: 148px;
	padding: 22px 0 0 23px;
	float: left;
}
.succes_anli_tu1_2_zi11
{
	font-size: 20px;
	color: #000;
	font-family: '微软雅黑';
}
.succes_anli_tu1_2_zi12
{
	font-size: 12px;
	color: #a7a7a7;
	margin-top: 6px;
}
.succes_anli_tu1_2_tuwen
{
	width: 292px;
	height: 46px;
	/* background-color: blue; */
	margin-top: 22px;
}
.succes_anli_tu1_2_tuwen_tu
{
	width: 40px;
	height: 46px;
	float: left;
	background-size: cover;

}
.succes_anli_tu1_2_tuwen_wen1
{
	font-size: 13px;
	color: #afafaf;
	
}
.succes_anli_tu1_2_tuwen_wen2
{
	font-size: 12px;
	color:#678ea5 ;
}
.succes_anli_tu1_2_tuwen_wen
{
	width: 251px;
	height: 46px;
	float: left;
	padding: 12px 0 0 12px;
}
.succes_anli_tu1_2_tuwen_wen p
{
	float: left;
}
.succes_anli_tu1_2_tuwen_wen_box
{
	width: 26px;
	height: 25px;
	float: right;
	background-color: #000;
	font-family: 'iconfont';
	color: #fff;
	font-size: 8px;
	text-align: center;
	line-height: 25px;
}
.succes_anli_tu3
{
	margin-right: 0;
}
.succes_anli_weibu
{
	width: 990px;
	height: 75px;
	background-color: #fff;
	float: left;
}
.succes_anli_weibu img
{
	width: 323px;
	height: 24px;
	margin-top: 30px;
	margin-left: 327px;
}

/* footer ********************************************************/
.weibu
{
	width: 100%;
	height: 573px;
	background-color: #245974;
	overflow: hidden;
}
.weibu_content
{
	width: 1000px;
	height: 370px;
	/* background-color: red; */
	margin: 72px auto 0;
	position: relative;
}
.weibu_content_tu1
{
	width: 1000px;
	height: 160px;
	margin-bottom: 43px;

}
.weibu_content_icon
{
	position: absolute;
	font-family: 'iconfont';
	top: 52px;
	left: 294px;
	font-size: 39px;
	color: #2b6c8c;
}
.weibu_content_tu1_address
{
	width: 296px;
	height: 71px;
	position: absolute;
	top: 41px;
	right: 347px;
	background-color: #2b6c8c;
	border-radius: 15px;
	font-size: 14px;
	font-family: '微软雅黑 REGULAR';
	color: #fff;
	padding-left: 24px;
}
.weibu_content_tu1_address p
{
	margin-top: 15px;
	letter-spacing: 2px;
}
.weibu_content_neirong
{
	width: 1000px;
	height: 167px;
	/* background-color: blue; */
}
.weibu_content_neirong1
{
	width: 383px;
	height: 100%;
	float: left;
}
.weibu_content_neirong1_1
{
	width: 183px;
	height: 29px;
	background-color: #fff;
	font-size: 13px;
	color: #a3a3a3;
	line-height: 29px;
	padding-left: 20px;
	margin-right: 11px;
	float: left;


}
.weibu_content_neirong1_2
{
	width: 189px;
	height: 29px;
	float: left;
	background-color: #fff;
	font-size: 13px;
	color: #a3a3a3;
	line-height: 29px;
	padding-left: 20px;
}
.weibu_content_neirong1_3
{
	width: 384px;
	height: 126px;
	margin-top: 12px;
	background-color: #fff;
	float: left;
	position: relative;
}
.weibu_content_neirong1_3 p
{
	margin-top: 16px;
	margin-left: 20px;
	font-size: 13px;
	color: #a3a3a3;
}
.weibu_content_neirong1_line
{
	top: 89px;
	right: 25px;
}
.weibu_content_neirong2
{
	width: 296px;
	height: 100%;
	/* background-color: red; */
	float: left;
	margin-left: 68px;
	margin-right: 80px;
}
.weibu_content_neirong2_zi1
{
	font-size: 13px;
	color: #fff;
}
.weibu_content_neirong2_zi2
{
	font-size: 10px;
	color:#7f96a5;
}
.weibu_content_neirong2_zi3
{
	width: 58px;
	height: 115px;
	font-size:14px;
	color: #fff;
	margin-top: 20px;
	margin-right: 59px;
	float: left;
}
.weibu_content_neirong2_zi3 li
{
	margin-top: 10px;
}
.weibu_content_neirong2_zi4
{
	margin-right: 0;
}
.weibu_content_neirong3
{
	width: 170px;
	height: 100%;
	/* background-color: pink; */
	float: left;
}
.weibu_content_neirong3_icon
{
	width: 166px;
	height: 30px;
	margin-top: 32px;
}
.weibu_content_neirong3_icon1
{
	margin-left: 8px;
	margin-right: 33px;
	width: 30px;
	height: 30px;
	float: left;
}
.weibu_content_neirong3_icon2
{
	margin-left: 0;
	margin-right: 30px;
}
.weibu_content_neirong3_icon3
{
	margin: 0 0;
}
.weibu_content_neirong3_icon_wenzi
{
	font-size: 12px;
	color: #fff;
	margin-top: 27px;
}
.weibu_content_neirong3_icon_wenzi2
{
	font-size: 12px;
	color: #fff;
}
.coypright
{
	width: 100%;
	height: 56px;
	background-color: black;
	margin-top: 75px;
	padding-top: 14px;
}
.weibu_content_tu1_address .weibu_content_tu1_address_des
{
	margin-top: 6px;
}
.coypright_title1
{
	font-size: 11px;
	color:#878787;
	text-align: center;
}
.coypright_title2
{
	font-size: 11px;
	color:#878787;
	text-align: center;
	margin-top: 5px;
}
.anli_content_line_right
{
	width: 74px;
	height: 25px;
	position: absolute;
	/* top: 140px;
	right: 86px; */
	/* background-color: blue; */
	border-bottom: 1px solid #668b9d;
}
.anli_content_line_right_box1
{
	width: 48px;
	height: 23px;
	font-size: 10px;
	color: #2b6c8c;
	line-height: 25px;
	float: left;
}
.anli_content_line_right_box2
{
	width: 26px;
	height: 24px;
	background-color:#2b6c8c;
	font-size: 8px;
	color: #fff;
	font-family: 'iconfont';
	text-align: center;
	line-height: 23px;
	float: left;
}